body {
  background: #111;
  color: #fff;
  font-family: Arial;
}

/* POSTS CONTAINER */
#posts {
  margin: 20px 0;
}

/* BOTÃO */
button {
  background: #008cff;
  border: none;
  padding: 8px 13px;
  color: #fff;
  cursor: pointer;
}

/* ✅ MODAL */
#modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* ✅ CAIXA */
#modal-content {
  background: #222;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* X */
.close-btn {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  background: red;
}

/* Campos */
input, textarea {
  width: 100%;
  padding: 6px;
}